---
- name: Generate Configuration and Install
  ios_config:
    provider: "{{cli}}"
    src:      "update_tunnel_nhs_bgp.j2"
- name: "copy run start"
  ios_command:
    provider: "{{cli}}"
    commands: wr
