interface Tunnel3
 ip address 172.17.1.1 255.255.255.252
 ip mtu 1400
 ip tcp adjust-mss 1360
 bfd interval 500 min_rx 500 multiplier 3
 tunnel source GigabitEthernet1
 tunnel destination {{R1PEERG1.IP}}
 tunnel key 3
 tunnel vrf internet-vrf
!
router eigrp 1
 bfd interface Tunnel3
 network 172.17.0.0
 passive-interface default
 no passive-interface Tunnel3

crypto isakmp policy 30
 hash md5
 authentication pre-share
!
crypto isakmp key {{DMVPN_Key}} address {{R1PEERG1.IP}}
!
crypto ipsec transform-set easy esp-des esp-md5-hmac
!
access-list 110 permit GRE {{EEM_G1.IP}} 0.0.0.0 {{R1PEERG1.IP}} 0.0.0.0
!
crypto map mymap 10 ipsec-isakmp
 set peer {{R1PEERG1.IP}}
 set transform-set easy
 match address 110
!
interface GigabitEthernet1
 crypto map mymap
