---
- name: Configure Cloud Router
  hosts: "{{ target }}"
  vars_files:
      - "../DB/dmvpn_per_ mgre_nhs_bgp_rr_address_info.yml"
      - "provider_vars/{{ cloud_provider }}.yml"
  roles:
    - "update_dmvpn_nhs_bgp_addresses"